.form-wrapper {
  padding: 2rem 0;
}

fieldset {
  border: 1px solid var(--ink-deep);
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 0;
}

legend {
  font-family: var(--font-display);
  font-weight: bold;
  padding: 0 0.5rem;
}
