bcrypt==5.0.0
cryptography==49.0.0
email-validator==2.3.0
fastapi==0.139.2
httpx==0.28.1
pandas==2.3.3
pika==1.4.2
psycopg2==2.9.12
pydantic==2.13.4
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.32
redis==8.1.0
SQLAlchemy==2.0.51
uvicorn==0.51.0
vnstock==4.0.5
